SQLSERVER_DRIVER=ODBC Driver 17 for SQL Server
SQLSERVER_SERVER=127.0.0.1
SQLSERVER_DATABASE=
SQLSERVER_TRUSTED_CONNECTION=no
SQLSERVER_USERNAME=
SQLSERVER_PASSWORD=
SQLSERVER_ENCRYPT=no
SQLSERVER_TRUST_SERVER_CERTIFICATE=yes
SQLSERVER_PORT=1433
